.slider {
  width: 100%;
  margin-bottom: 100px;
}

.slider__title {
    color: #000;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 600;
  }

/* карточка */
.product {
   margin-top: 14px;
  background: #fff;
  border-radius: 14px;

  transition: transform .25s ease, box-shadow .25s ease;
  overflow: visible; /* чтобы радиус не обрезался при hover */
  position: relative;
  
}



.product:hover { transform: translateY(-4px) }

.product__img {
  
  display: block;
  height: 295px !important;
  width: auto;
  object-fit: cover;
  border-radius: 14px; /* вернуть радиус */
  overflow: hidden;
  
}

.product__name {
  color: #000;
  font-size: 21px;
  line-height: 1.3;
  margin: 10px 12px 12px;
}

.product__desc {
  margin: -6px 12px 14px;
  color: #111;
  font-size: 13px;
}


/* стили стрелок swiper */
.slider__swiper .swiper-button-next,
.slider__swiper .swiper-button-prev {
  width: 36px;
  height: 36px;
  padding: 5px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 6px 16px rgba(0,0,0,.12);
  color: #111;
  overflow: hidden; /* фикс выхода иконки за границы */
  display: flex;
  align-items: center;
  justify-content: center; /* выравнивание иконки по центру */
}


.slider__swiper .swiper-button-next::after,
.slider__swiper .swiper-button-prev::after {
  font-size: 16px;
}

@media (max-width: 992px) {
  .slider{
    margin-bottom: 50px;
  }
}

@media (max-width: 640px) {
  .product__name { font-size: 20px; }
  .product__img{margin: auto;}
  .product{text-align: center;}
}

@media (max-width: 420px) {
  .slider__title  { font-size: 30px; }
  .slider{margin-bottom: 50px;}
  
}
